<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/js/app.js"></script>
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/sobre">Sobre mim</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/strains-api">Strains-API</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lucas.rafaldini@gmail.com" target="_blank">email</a></li>
	        		<li><a href="https://github.com/lucasrafaldini" target="_blank">github</a></li>
	        		<li><a href="https://dev.to/lucasrafaldini" target="_blank">dev</a></li>
	        		<li><a href="https://www.linkedin.com/in/lucasrafaldini/" target="_blank">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
